# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.whl
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec

# App-generated
config.json

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
